extends layout

block style
  link(rel='stylesheet', href='/css/game.css')

block scripts
  script(src='/js/lib/jquery-1.7.1.min.js')
  script(src='/js/lib/socket.io.js')
  script(src='/js/config/settings.js')
  script(src='/js/config/socket.settings.js')

block nav_bar
  include blocks/menu

block content
  div.container
    .status-line
      span 
        b status line:    
      span.status
    
    .game-field#game-field(data-game_id=gameId)
      #game-loader.game-loader
        img(src='/img/ajax-loader.gif')
      #game-over.game-loader
        .game-over-text
          span Game Over find new opponent
          a(href='/') here 
      #canvas-container
    
    .information
      .user-info
        .blue
          span#currentPlayer(data-player=currentPlayer, data-player_name=currentPlayerName)=currentPlayerName
          - if (currentPlayer == 'first')
            span.turn +
          - else
            span.turn(style='display:none;') +

        .red
          span(data-player=opponentPlayer, data-player_name=opponentPlayerName)=opponentPlayerName
          - if (currentPlayer == 'second')
            span.turn +
          - else
            span.turn(style='display:none;') +

      .score
        span.blue-score 0
        span :
        span.red-score 0

      .turn-direction-wrap
        .up
          input(type='button', data-direction='upLeft', value='*')
          input(type='button', data-direction='upRight', value='*')

        .center
          input(type='button', data-direction='left', value='<-')
          input(type='button', data-direction='right', value='->')

        .down
          input(type='button', data-direction='downLeft', value='*')
          input(type='button', data-direction='downRight', value='*')

      h1.win
    .clear

    .user-info-wrapper
      .current-user-info
        .name 
          span Your name: 
          span=currentPlayerName
        .score 0
        .clear
      .opponent-user-info
        .score 0
        .name
          span Opponent name: 
          span=opponentPlayerName
        .clear
      .clear

block footer_scripts
  script(src='/js/lib/underscore-min.js')
  script(src='/js/lib/raphael-min.js')
  script(src='/js/game/plugins.js')
  script(src='/js/game/gameController.js')
  script(src='/js/game/cell.js')
  script(src='/js/game/map.js')
  script(src='/js/game/player.js')
  script(src='/js/game/validators.js')
  script(src='/js/game/game.js')
  script(src='/js/game/script.js')
  script(src='/js/lib/bootstrap.min.js')
  script(src='/js/rules.js')