extends layout

block scripts
  script(src='/js/lib/jquery-1.7.1.min.js')
  script(src='/js/lib/bootstrap.min.js')
  script(src='/js/lib/socket.io.js')
  script(src='/js/config/socket.settings.js')
  script(src='/js/main.js')
  script(src='/js/rules.js')

block nav_bar
  include blocks/menu

block content
  div.container
    
    .hero-unit
      p 
        | Abalon it's a game for two people. 
        | It's like a goa but really not a goa.
        | So are you still wondering what is it. 
        | Just start your own game 
      input(type='button', value='Start').btn-primary.btn-large#start-game   
    
    - if (documents.length)    
      .table-title Players that waited for opponents
      
    table.table.table-condensed
      each val, key in documents

        tr(id='line_'+val.id)
          td= val.name
          td.content
            input(type='button',
              data-id=val.id,
              value='join game'
              ).btn.btn-primary.join-game-button

  include blocks/modal