doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    block style
  body
    block scripts
    block nav_bar
    block content
    block footer_scripts