body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.table-title {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  margin-bottom: 30px;
}