.modal.hide#start-game-modal
  .modal-header
    input(type='button', data-dismiss='modal', value='x').close
    h3 Enter your name
  .modal-body
    label player name 
      input(type='text').player-name
  .modal-footer
    a(href='#', data-dismiss='modal').btn Close
    a(href='#').btn.btn-primary Start game

.modal.hide#join-game-modal
  .modal-header
    input(type='button', data-dismiss='modal', value='x').close
    h3 Enter your name
  .modal-body
    label player name 
      input(type='text').player-name
  .modal-footer
    a(href='#', data-dismiss='modal').btn Close
    a(href='#').btn.btn-primary Join game

.modal.hide#confirm-modal
  .modal-header
    input(type='button', data-dismiss='modal', value='x').close
    h3 Opponent conirmation
  .modal-body
    span Do you want to play with player
    span.badge.player-name 
  .modal-footer
    a(href='#', data-dismiss='modal', data-result='false').btn No thanks
    a(href='#', data-result='true').btn.btn-primary Yes