.modal.hide#rules
  .modal-header
    input(type='button', data-dismiss='modal', value='x').close
    h3 Game rules
  .modal-body
    p 
      | In order to win you should push out 6 enemies cells from the field
      | Select one or two or three cells and move them.
      | Two cells can move one enemies, three can move two.
      | Don't forget that you can combine only that cells that are in line.
  .modal-footer
    a(href='#', data-dismiss='modal').btn.btn-primary  Yes, It's easy